Item cadastro
<div *ngIf="item" >
  <form>
    <div>
      <label for="id">Id</label>
      <input name="id" [(ngModel)]="item.id" readonly />
    </div>
    <div>
      <label for="nome">Nome</label>
      <input name="nome" [(ngModel)]="item.nome" />
    </div>
    <div>
      <label for="custo">Custo</label>
      <input name="custo" [(ngModel)]="item.custo" />
    </div>
    <div>
      <label for="tipoUnidade">Tipo Unidade</label>
      <select name="tipoUnidade" [(ngModel)]="item.tipoUnidade">
        <option disabled>Selecione o tipo de unidade</option>
        <option *ngFor="let tipo of tiposUnidade | async" [ngValue]="tipo">
          {{tipo}}
        </option>
      </select>
    </div>
    <div>
      <button type="submit">Cadastra Item</button>
    </div>
  </form>
</div>
