<div>
  <h2>Produtos</h2>
  <table id="produtos">
    <thead>
      <tr>
        <th>ID</th>
        <th>nome</th>
        <th>horas trabalhadas</th>
        <th>custo total</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of produtos | async" >
        <td>{{p.id}}</td>
        <td>{{p.nome}}</td>
        <td>{{p.horasTrabalhadas}}</td>
        <td>{{p.custo}}</td>
        <td><button [routerLink]="['/produtos', p.id]">Editar</button></td>
      </tr>
    </tbody>
  </table>
  <br><br>
</div>
